{% extends "base.html" %}

{% block header_content %}
    <style type = "text/css">
        .collapsible {
            margin-left: 5%;
            margin-right: 20%;
            margin-top: 1%;
            margin-bottom: 3%;
        }
        .year-headings {
            margin-left: 5%;
            margin-bottom: 1%;
        }
        
        #internal-nav {
            width: 15%;
            padding: 0%;
            position: absolute;
            top: 25vh;
            left: 80%;
        }
        
        #internal-nav table tr td {
            text-align: center;
        }
        
        .my-card {
            padding-top: 5vh;
            padding-bottom: 5vh;
            margin-left: 5%;
            margin-top: 6vh;
            width: 60%;
        }
        
        .my-syllabus-chip {
            position: absolute;
            left: 72%;
            top: 3%;
        }
        
        .my-download-chip {
            position: absolute;
            left: 85%;
            top: 3%;
        }
        
        .my-download-chip a, .my-syllabus-chip a {
            color: white;
        }
        
        .collapsible-header a i {
            padding: 2px;
            color: white;
            position: absolute;
            left: 70%;
        }
        
        @media only screen and (max-width: 468px) {
            .my-card {
                width: 90%;
            }
            
            .my-syllabus-chip {
                position: absolute;
                left: 47%;
                top: 3%;
            }
            
            .my-download-chip {
                position: absolute;
                left: 72%;
                top: 3%;
            }
            
            .collapsible-header a i {
                padding: 2px;
                color: white;
                position: absolute;
                left: 60%;
            }
        }
    </style>
{% endblock %}

{%  block main_content %}
    {% if (contentDict['branchName'] == 'FY') %}
        {% for key in contentDict %}
            {% if((key != 'path') and (key != 'branchName')) %}
                <div class = "card hoverable my-card grey lighten-5" id = "{{ key }}">
                    <div class = "chip my-download-chip red hoverable" title = "Download all papers of this class.">
                        <a href = "{{ url_for('giveCompressedFolder', branchName = contentDict['branchName'], year = key) }}">Download</a>
                    </div>
                    <div class = "chip my-syllabus-chip red hoverable">
                        <a href = "/static/papers/{{ contentDict['branchName'] }}/{{ key }}/syllabus.pdf">Syllabus</a>
                    </div>
                    <h3 class = "year-headings red-text">{{ key }}</h3><br/>
                    <ul class = "collapsible popout" data-collapsible = "expandable">
                        {% for sub in contentDict[key] %}
                            <li>
                                <div class = "collapsible-header hoverable">
                                    <span class = "title">{{ sub }}</span>
                                    <a href = "{{ url_for('giveCompressedFolder', branchName = contentDict['branchName'], year = key, subject = sub) }}">
                                        <i class = "material-icons circle red hoverable" title = "Download all papers in this folder.">get_app</i>
                                    </a>
                                </div>
                                <div class = "collapsible-body">
                                    <ul>
                                        {% for eachFile in contentDict[key][sub] %}
                                            <li>
                                                <a href = "/static/papers/{{ contentDict['branchName']}}/{{ key }}/{{ sub }}/{{eachFile}}"  >{{ eachFile }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>    
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
        <div class = "card hide-on-small-only" id = "internal-nav">
            <table class = "striped">
                <tr>
                    <td>
                        <b>Year</b>
                    </td>
                </tr>
                {% for key in contentDict %}
                    {% if ((key != 'path') and (key != 'branchName')) %}
                        <tr class = "hoverable">
                            <td>
                                <a href = "#{{ key }}" class = "black-text text-lighten-1">{{ key }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% else %}
        {% for key in ['SY', 'TY', 'BTech', 'Elective'] %}
            {% if(contentDict.get(key, None) != None) %}
                <div class = "card my-card hoverable grey lighten-5" id = "{{ key }}">
                    {% if(key != 'Elective' )%}
                        <div class = "chip my-download-chip red hoverable" title = "Download all papers of this class.">
                            <a href = "{{ url_for('giveCompressedFolder', branchName = contentDict['branchName'], year = key) }}">Download</a>
                        </div>
                        <div class = "chip my-syllabus-chip red hoverable">
                            <a href = "/static/papers/{{ contentDict['branchName'] }}/{{ key }}/syllabus.pdf">Syllabus</a>
                        </div>
                    {% endif %}
                    <h3 class = "year-headings red-text">{{ key }}</h3><br/>
                    <ul class = "collapsible popout" data-collapsible = "expandable">
                        {% for sub in contentDict[key] %}
                            <li>
                                <div class = "collapsible-header hoverable">
                                    <span class = "title">{{ sub }}</span>
                                    <a href = "{{ url_for('giveCompressedFolder', branchName = contentDict['branchName'], year = key, subject = sub) }}">
                                        <i class = "material-icons circle red hoverable" title = "Download all papers in this folder.">get_app</i>
                                    </a>
                                </div>
                                <div class = "collapsible-body">
                                    <ul>
                                        {% for eachFile in contentDict[key][sub] %}
                                        <li>
                                            <a href = "/static/papers/{{ contentDict['branchName']}}/{{ key }}/{{ sub }}/{{eachFile}}"  >{{ eachFile }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
        <div class = "card hide-on-small-only" id = "internal-nav">
            <table class = "striped">
                <tr class = "hoverable">
                    <td>
                        <b>Year</b>
                    </td>
                </tr>
                {% for key in ['SY', 'TY', 'BTech', 'Elective'] %}
                    {% if(contentDict.get(key, None) != None) %}
                        <tr class = "hoverable">
                            <td>
                                <a href = "#{{ key }}" class = "black-text text-lighten-1">{{ key }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}